<center><div class="container my-5 mt-5">
    <div class="row mt-5 my-5">

        <div class="col-md-6 main mt-5 my-5">
           <center>
            <form action="/admin/login" method="post">
                   {{#if loginErr}}
                   <p class="error">{{loginErr}}</p>
                   {{/if}}
                <h1>Admin Login </h1>
                    <br>

                <input class="box" type="email" name="email" id="email" placeholder="E-Mail " required /><br>
                <br>
                <input class="box" type="password" name="password" id="password" placeholder="Password " required /><br>
                <br>
                <input type="submit" id="submitDetails" name="submitDetails" value="Submit" /><br>

            </form>
           </center>
        </div>
    </div>
</div>
</center>