
{{!-- <section>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Mob</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">1</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>{{this.mob}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
</section> --}}
<center><h1>WELCOME</h1></center>
